body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar {
    background: black;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 80px;
    text-align: left;
    background: rgb(27, 56, 189);
    border-radius: 10px;
    margin: 50px auto;
    width: 70%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero li {
    list-style: circle;
    padding-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    background: #111;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 200px;
}