{% extends "base.html" %}
{% block content %}
<div class="hero">
    <h2>About Me</h2>
    <p>Hi, I'm Akash, a passionate Python developer with a strong interest in building real-world applications. I work
        with technologies like Python, Flask, HTML, CSS, and basic JavaScript, and I'm constantly improving my
        problem-solving and backend development skills.

        I'm currently learning Django for full-stack web development, aiming to build advanced and scalable web
        applications.

        My goals are to gain hands-on experience through internships, build strong projects for placement, and
        eventually move into freelance and professional full-stack development.</p>
    <p>I enjoy building real projects like APIs, websites, and automation tools.</p>
</div>
{% endblock %}